<form [formGroup]="employeeForm">
<!--  (ngSubmit)="onEmployeeFormSubmitted(employeeForm)">-->
  <input type="text" formControlName="name" placeholder="Name">
<!--  <input type="text" formControlName="new" placeholder="New">-->
  <input type="number" formControlName="age" placeholder="Age">
  <input type="number" formControlName="salary" placeholder="salary">
  <input type="submit" [disabled]="employeeForm.invalid" value="Submit">
</form>

<div *ngIf="!employeeForm.invalid">
Your new employee is: {{employeeForm.value.name}}, age: {{employeeForm.value.age}}
with salary {{employeeForm.value.salary}} $ will be added to the system
</div>
